[Desktop Entry]
Type=Application
Name=Cuelet
Comment=Play and organize soundboard audio
Exec=cuelet
Icon=io.cuelet.Cuelet
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;
Keywords=soundboard;audio;sounds;
